body {
    background-color: #0a0d15;
    color: white;
    margin: 2em auto;
    background-image: url('images/freelancer.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
    background-attachment: fixed;
    scrollbar-gutter: stable both-edges;
    overflow: auto;
}

a:visited {
    color: darkgoldenrod;
}

a:link {
    color: lightseagreen;
}

a:hover {
    color: lightskyblue;
}

a:active {
    color: goldenrod;
}

a.custom:link,
a.custom:active,
a.custom:visited {
    color: white;
}

a.custom:hover {
    color: lightskyblue;
}

.iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    margin: .75em 0;
}

.content-row {
    margin: auto;
    align-items: center;
    display: block;
}

.container {
    position: relative;
    margin: auto;
    padding: .5em 2em;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    display: inline-flex;
}

.toggle-row {
    width: 64em;
    max-width: 90%;
}

.toggle-row2 {
    width: 64em;
    max-width: 90%;
}

.toggle-container {
    width: 8em;
}

.container2 {
    position: relative;
    margin: auto;
    padding: .5em 1em;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
    width: 84%;
}

.text-center {
    position: relative;
    padding: 1em 0em;
    align-items: center;
    text-align: center;
    display: block;
    font-size: large;
}

.logo-centered {
    font-family: "Iceland", sans-serif;
    font-weight: 500;
    font-size: 5em;
    text-align: center;
    vertical-align: middle;
    letter-spacing: .35em;
    text-shadow: .025em .075em .025em black;
    line-height: 1.1em;
}

.logo-bracket {
    font-family: "Iceland", sans-serif;
    font-weight: 100;
    font-size: 1.8em;
    text-align: center;
    vertical-align: bottom;
    text-shadow: .025em .075em .025em black;
}

.logo-hitman {
    margin: auto;
    text-align: center;
}

.leader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19%;
}

.icon {
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    padding-right: 1em;
    padding-left: 0em;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 4.3em;
    height: 2.4em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    width: 4.3em;
    height: 2.4em;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.85em;
    width: 1.85em;
    left: .285em;
    bottom: .285em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 .07em #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.85em);
    -ms-transform: translateX(1.85em);
    transform: translateX(1.85em);
}

/* Rounded sliders */
.slider.round {
    border-radius: 2.4em;
}

.slider.round:before {
    border-radius: 3.6em;
}

.toggle_radio {
    position: relative;
    background-color: #ccc;
    margin: .285em auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 3.5em;
    -moz-border-radius: 3.5em;
    border-radius: 3.5em;
    position: relative;
    height: 2.4em;
    width: 52em;
}

.toggle_radio>* {
    float: left;
}

.toggle_radio input[type=radio] {
    display: none;
}

.toggle_radio label {
    font: 150% "Source Sans Pro";
    font-weight: bolder;
    z-index: 0;
    display: block;
    width: 4.6em;
    height: 1.35em;
    margin: .15em .15em;
    -webkit-border-radius: 2.4em;
    -moz-border-radius: 2.4em;
    border-radius: 2.4em;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}

.toggle_option_slider {
    width: 7.15em;
    height: 1.85em;
    position: absolute;
    top: .285em;
    -webkit-border-radius: 2.4em;
    -moz-border-radius: 2.4em;
    border-radius: 2.4em;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.label {
    width: 7.15em;
}

.label_any {
    color: white;
    text-shadow: black .07em 0 .7em;
}

.label_black {
    color: #3d3d3d;
    text-shadow: #676767 .07em 0 .7em;
}

.label_blonde {
    color: #fed883;
    text-shadow: black .07em 0 .7em;
}

.label_brown {
    color: #7f3201;
    text-shadow: #014e7f .07em 0 .7em;
}

.label_gray {
    color: #808080;
    text-shadow: white .07em 0 .7em;
}

.label_red {
    color: #ff6a01;
    text-shadow: #0196ff .07em 0 .7em;
}

.label_bald {
    color: white;
    text-shadow: black .07em 0 .7em;
}

#any:checked~.toggle_option_slider {
    background: white;
    left: .285em;
}

#black:checked~.toggle_option_slider {
    background: #3d3d3d;
    left: 7.4em;
}

#blonde:checked~.toggle_option_slider {
    background: #fed883;
    left: 14.8em;
}

#brown:checked~.toggle_option_slider {
    background: #7f3201;
    left: 22.2em;
}

#gray:checked~.toggle_option_slider {
    background: #808080;
    left: 29.6em;
}

#red:checked~.toggle_option_slider {
    background: #ff6a01;
    left: 37em;
}

#bald:checked~.toggle_option_slider {
    background: white;
    left: 44.4em;
}

.justified-grid-gallery {
    --space: .285em;
    --min-height: 13.5em;
}

.justified-grid-gallery {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--space);
    list-style: none;
    margin: 0 !important;
    /* We use !important to avoid gaps in some environments. */
    padding: 0 !important;
    /* We use !important to avoid gaps in some environments. */
}

.justified-grid-gallery>* {
    flex-grow: calc(var(--width) * (100000 / var(--height)));
    flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
    aspect-ratio: var(--width) / var(--height);
    position: relative;
    overflow: hidden;
    margin: 0 !important;
    /* We use !important to avoid gaps in some environments. */
    padding: 0 !important;
    /* We use !important to avoid gaps in some environments. */
}

.justified-grid-gallery>*>img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.justified-grid-gallery::after {
    content: " ";
    flex-grow: 1000000000;
    background: var(--last-row-background);
}

@media only screen and (max-device-width: 800px) {
    .leader {
        width: 24%;
    }

    .container {
        padding: .5em 1em;
    }

    .container2 {
        padding: .5em 1em;
    }
}