html {
    font-size: 16px;
}

body {
    background-color: #0a0d15;
    color: white;
    margin: 0 auto;
    background-image: url('images/freelancer.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scrollbar-gutter: stable both-edges;
    overflow: scroll;
}

a:visited {
    color: darkgoldenrod;
}

a:link {
    color: lightseagreen;
}

a:hover {
    color: lightskyblue;
}

a:active {
    color: goldenrod;
}

a.custom:link,
a.custom:active,
a.custom:visited {
    color: white;
}

a.custom:hover {
    color: lightskyblue;
}

.iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    margin: 0;
}

.content-row {
    margin: auto;
    display: block;
}

.container {
    position: relative;
    margin: auto;
    padding: .25em .75em;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    display: inline-flex;
}

.toggle-row {
    width: 50em;
    max-width: 100%;
}

.toggle-row2 {
    width: 50em;
    max-width: 100%;
}

.toggle-container {
    width: 8em;
}

.container2 {
    position: relative;
    margin: auto;
    padding: .25em .75em 1em 1em;
    align-content: center;
}

.text-center {
    position: relative;
    padding: .25em 0em;
    text-align: center;
    display: block;
    font-size: 140%;
    line-height: 2em;
}

.logo-centered {
    font-family: "Iceland", sans-serif;
    font-weight: 500;
    font-size: 5em;
    text-align: center;
    vertical-align: middle;
    letter-spacing: .35em;
    text-shadow: .025em .075em .025em black;
    line-height: 1.1em;
}

.logo-bracket {
    font-family: "Iceland", sans-serif;
    font-weight: 100;
    font-size: .75em;
    text-align: center;
    vertical-align: bottom;
    text-shadow: .025em .075em .025em black;
    display: inline-block;
    line-height: .7em;
}

.logo-hitman {
    margin: auto;
    text-align: center;
}

.icon {
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    padding-right: 1em;
    padding-left: 0em;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 4.3em;
    height: 2.4em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    width: 4.3em;
    height: 2.4em;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.85em;
    width: 1.85em;
    left: .285em;
    bottom: .285em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 .07em #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.85em);
    -ms-transform: translateX(1.85em);
    transform: translateX(1.85em);
}

/* Rounded sliders */
.slider.round {
    border-radius: 2.4em;
}

.slider.round:before {
    border-radius: 3.6em;
}

.toggle_radio {
    position: relative;
    background-color: #ccc;
    margin: .285em auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 3.5em;
    border-radius: 3.5em;
    position: relative;
    height: 2.4em;
    width: 42.75em;
}

.toggle_radio>* {
    float: left;
}

.toggle_radio input[type=radio] {
    display: none;
}

.toggle_radio label {
    font: 150% "Source Sans Pro";
    font-weight: bolder;
    z-index: 0;
    display: block;
    width: 3.75em;
    height: 1.35em;
    margin: .15em .15em;
    -webkit-border-radius: 2.4em;
    border-radius: 2.4em;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}

.toggle_option_slider {
    width: 5.75em;
    height: 1.85em;
    position: absolute;
    top: .285em;
    -webkit-border-radius: 2.4em;
    border-radius: 2.4em;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.label {
    width: 7.15em;
}

.label_any {
    color: white;
    text-shadow: black .07em 0 .7em;
}

.label_black {
    color: #3d3d3d;
    text-shadow: #676767 .07em 0 .7em;
}

.label_blonde {
    color: #fed883;
    text-shadow: black .07em 0 .7em;
}

.label_brown {
    color: #7f3201;
    text-shadow: #014e7f .07em 0 .7em;
}

.label_gray {
    color: #808080;
    text-shadow: white .07em 0 .7em;
}

.label_red {
    color: #ff6a01;
    text-shadow: #0196ff .07em 0 .7em;
}

.label_bald {
    color: white;
    text-shadow: black .07em 0 .7em;
}

.toggle_option_slider {
    --start-position: .285em;
    --delta: 6.075em;
}

#any:checked~.toggle_option_slider {
    background: white;
    left: calc(var(--start-position) + 0 * var(--delta));
}

#black:checked~.toggle_option_slider {
    background: #3d3d3d;
    left: calc(var(--start-position) + 1 * var(--delta));
}

#blonde:checked~.toggle_option_slider {
    background: #fed883;
    left: calc(var(--start-position) + 2 * var(--delta));
}

#brown:checked~.toggle_option_slider {
    background: #7f3201;
    left: calc(var(--start-position) + 3 * var(--delta));
}

#gray:checked~.toggle_option_slider {
    background: #808080;
    left: calc(var(--start-position) + 4 * var(--delta));
}

#red:checked~.toggle_option_slider {
    background: #ff6a01;
    left: calc(var(--start-position) + 5 * var(--delta));
}

#bald:checked~.toggle_option_slider {
    background: white;
    left: calc(var(--start-position) + 6 * var(--delta));
}

.justified-grid-gallery {
    --space: .285em;
    --max-canvas-width: calc(100vw - 2em - var(--scrollbar-width));
    --leader-image-width: min(22em, calc((var(--max-canvas-width) - 4 * var(--space)) / 4));
}

.leader {
    width: var(--leader-image-width);
}

.justified-grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--leader-image-width));
    grid-gap: var(--space);
    align-items: center;
    justify-content: center;
}

.drop {
    cursor: pointer;
    display: block;
    text-align: right;
    position: absolute;
    right: 1em;
    top: 1em;
    user-select: none;
}

input[type="checkbox"] {
    display: none;
}

input+.drop+div {
    display: none;
}

.drop:after {
    content: ' ▼';
}

:checked+.drop:after {
    content: ' ▲';
}

input:checked+.drop+div {
    display: block;
}

.collapsible {
    display: block;
}