body {
    background-color: #0a0d15;
    color: white;
    margin: 2em auto;
    background-image: url('images/freelancer.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
    background-attachment: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

a:link {
    color: lightseagreen;
}

a:hover {
    color: lightskyblue;
}

a:active {
    color: goldenrod;
}

.custom a:visited,a:link,a:hover,a:active,a:visited {
    color: white;
}

.iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    margin: 10px 0;
}

.content-row {
    margin: auto;
    align-items: center;
    display: block;
}

.container {
    position: relative;
    margin: auto;
    padding: .5em 2em;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    display: inline-flex;
}

.toggle-row {
    width: 64em;
}

.toggle-row2 {
    width: 64em;
}

.toggle-container {
    width: 8em;
}

.container2 {
    position: relative;
    margin: auto;
    padding: .5em 1em;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
    width: 84%;
}

.text-center {
    position: relative;
    padding: 1em 0em;
    align-items: center;
    text-align: center;
    display: block;
    font-size: large;
}

.logo-centered {
    font-family: "Iceland", sans-serif;
    font-weight: 500;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 25.5px;
    text-shadow: 2px 3px 1px black;
    line-height: 80px;
}

.logo-bracket {
    font-family: "Iceland", sans-serif;
    font-weight: 100;
    font-size: 128px;
    text-align: center;
    vertical-align: bottom;
    text-shadow: 2px 3px 1px black;
}

.logo-hitman {
    margin: auto;
    text-align: center;
}

.leader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-right: 1em;
    padding-left: 0em;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    height: 34px;
    width: 60px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50px;
}

.toggle_radio {
    position: relative;
    background-color: #ccc;
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 34px;
    width: 728px;
}

.toggle_radio>* {
    float: left;
}

.toggle_radio input[type=radio] {
    display: none;
}

.toggle_radio label {
    font: 150% "Source Sans Pro";
    font-weight: bolder;
    z-index: 0;
    display: block;
    width: 97px;
    height: 28px;
    margin: 3px 3px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}

.toggle_option_slider {
    width: 100px;
    height: 26px;
    position: absolute;
    top: 4px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.label {
    width: 100px;
}

.label_any {
    color: white;
    text-shadow: black 1px 0 10px;
}

.label_black {
    color: #3d3d3d;
    text-shadow: #676767 1px 0 10px;
}

.label_blonde {
    color: #fed883;
    text-shadow: black 1px 0 10px;
}

.label_brown {
    color: #7f3201;
    text-shadow: #014e7f 1px 0 10px;
}

.label_gray {
    color: #808080;
    text-shadow: white 1px 0 10px;
}

.label_red {
    color: #ff6a01;
    text-shadow: #0196ff 1px 0 10px;
}

.label_bald {
    color: white;
    text-shadow: black 1px 0 10px;
}

#any:checked~.toggle_option_slider {
    background: white;
    left: 4px;
}

#black:checked~.toggle_option_slider {
    background: #3d3d3d;
    left: 104px;
}

#blonde:checked~.toggle_option_slider {
    background: #fed883;
    left: 208px;
}

#brown:checked~.toggle_option_slider {
    background: #7f3201;
    left: 312px;
}

#gray:checked~.toggle_option_slider {
    background: #808080;
    left: 416px;
}

#red:checked~.toggle_option_slider {
    background: #ff6a01;
    left: 520px;
}

#bald:checked~.toggle_option_slider {
    background: white;
    left: 624px;
}

.justified-grid-gallery {
    --space: 4px;
    --min-height: 190px;
}

.justified-grid-gallery {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--space);
    list-style: none;
    margin: 0 !important;
    /* We use !important to avoid gaps in some environments. */
    padding: 0 !important;
    /* We use !important to avoid gaps in some environments. */
}

.justified-grid-gallery>* {
    flex-grow: calc(var(--width) * (100000 / var(--height)));
    flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
    aspect-ratio: var(--width) / var(--height);
    position: relative;
    overflow: hidden;
    margin: 0 !important;
    /* We use !important to avoid gaps in some environments. */
    padding: 0 !important;
    /* We use !important to avoid gaps in some environments. */
}

.justified-grid-gallery>*>img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.justified-grid-gallery::after {
    content: " ";
    flex-grow: 1000000000;
    background: var(--last-row-background);
}